@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Righteous&family=Roboto&display=swap');

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

tr:hover {background-color:whitesmoke;}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/concert2.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#container{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows:repeat(7,auto);
    grid-gap: 2px;

}
#zero_box{
    color: white;
    background-color: black;
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Righteous', cursive;
	  letter-spacing: 5px;

}

.zero_box_1{

  color: white;
    background-color: rgb(16, 123, 140);
    grid-column: 1/8;
    grid-row: 2/3;
    text-align: center;
    font-family: 'Righteous', cursive;
	  letter-spacing: 5px;


}


#first_box{

    background-image: linear-gradient(to right, lightsteelblue , white);
    grid-column: 1/3;
    grid-row: 3/5;
    margin: 10px;
    border: 5px outset;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: auto;
    height: max-content;
    
}

#first_box_1{

    
    background-image: linear-gradient(to right, lightsteelblue , white);
    grid-column: 3/8;
    grid-row: 3/5;
    border: 5px inset;
    border-radius: 15px;
    padding: 10px;
    font-size: small;
    text-align: center;
    font-size: 15px
}


#second_box{
    grid-column: 3/8;
    grid-row: 3/4;
    text-align: center;

}

.container2{
    background-image: linear-gradient(to right, lightsteelblue , white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 2/7;
    grid-row: 4/5;
    text-align: center;
    padding:10px;
    border-radius: 15px;
}

.container2 > div{

    background-color: #f1f1f1;
    width: 100px;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

button{
    display: inline-block;
    border-radius: 4px;
    background-color: #7cadb3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
