.container {
  background-color: #B7CEE3;
}

.up-event {
  background-color: #FFFAFA;
}

.header {
  background-color: #ffffff;
}

.jumbotron {
  background-image: url("image/seminar.jpg");
  background-position: center;
  background-size: 1600px 1000px;
  min-height: 500px;
}

.image-1 {
  background-image: url("image/seminar.jpg");
  background-position: center;
  background-size: 600px 400px;
  min-height: 300px;
}

.image-2 {
  background-image: url("image/workshop.jpg");
  background-position: center;
  background-size: 600px 400px;
  min-height: 300px;
}

.image-3 {
  background-image: url("image/training.jpg");
  background-position: center;
  background-size: 600px 400px;
    min-height: 300px;
}

.image-4 {
  background-image: url("image/mentoring.jpg");
  background-position: center;
  background-size: 600px 400px;
    min-height: 300px;
}

.image-5 {
  background-image: url("image/motivation.png");
  background-position: center;
  background-size: 600px 400px;
    min-height: 300px;
}


a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
