*,*:before,*:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

.bus {
  margin: 20px auto;
  max-width: 350px;
}

  h1 {
    width: 60%;
    margin: 100px auto 35px auto;
    position: center;
  }
}

.exit {
  position: relative;
  height: 50px;
  &:before,
  &:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style :none;
  padding: 0;
  margin: 0;
}

.row {

}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 10px;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
  &:nth-child(3) {
  margin-right: 14.28571428571429%;
  width: 10px;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    color: green;
  }

  checkbox{
    color: green;
  }
