@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Righteous&family=Roboto&display=swap');

.system h1{
		font-family: 'Righteous', cursive;
		letter-spacing: 5px;
}

#grid{
	display:grid;
	grid-template-areas:
	  "title title title title title"
		"header header header header header"
		"main main main main main"
		"footer footer footer footer footer";
}

.manage_table_two{
  height: 500px;
  margin-bottom: 0px;
  width: inherit;
  overflow: scroll;
}


#header {
	grid-area: header;
	background:  #322a2a;
	text-align: center;
}

#header a{
	text-decoration:none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d5e0f2;
  color: darkblue;
}

.topnav a.active {
  background-color: rgb(105, 155, 219);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

a1{
  color: #fff;
  text-decoration: none;
  font: 30px 'PT Sans', sans-serif;
}

a2{
  color: #fff;
  text-decoration: none;
  font: 15px 'PT Sans', sans-serif;
}

ul{
  list-style-type: none;
  overflow: hidden;
	margin: 0;
  padding: 0;
}

li{
  float: left;
	font: 15px 'PT Sans', sans-serif;
	padding: 5;
	margin: 5;
}

#title {
	grid-area: title;
	background-color: #333;
}

#main {
	 grid-area: main;
	 position: static;
	 background-image: url('../img/airplane.jpg');
	 background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
}

h1 {
		text-align: center;
		font: 40px 'PT Sans', sans-serif;
		color: white;
		font-weight: bold;
		border-radius: 5px;
}

#footer {
 	grid-area: footer;
 	text-align:center;
 	background-color: black;
 	color: white;
	font-family: 'PT Sans', sans-serif;
}

.section {
	position: relative;
	height: 65vh;
}

.section .section-center {
	position: absolute;
	top: 47%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'PT Sans', sans-serif;
	background-size: cover;
	background-position: center;
	margin: 50px 0;
}

.booking-form {
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 6px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 50px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 25px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control {
	color: rgba(106, 103, 110);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 10px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #fff;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 400;
	color: #fff;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #f23e3e;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .form-btn {
	margin-top: 27px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #f23e3e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.footer {
	text-align: center;
}

.col-md-1 {
		display: inline-block;
		margin: 5px 15px 5px 15px;
}

.col-md-2 {
		display: inline-block;
		margin: 5px 15px 5px 15px;
}

.col-md-3 {
	display: block;
	margin: 5px 0;
	width: 50%;
}

.row {
	display:flex;
	justify-content: center;
	align-items: center;
}

.container_two {
	margin-left: 10%;
}

.info_table {
	margin-left: 37%;
	background-color: lightblue;
	opacity: 0.9;
	border-radius: 5px;
	border-style: solid;
	border-color: darkblue;
	border-width: 1px;
	padding: 10px;
}

.insert {
	display: flex;
  justify-content: center;
  align-items: center;
}

.insert button{
  margin: 15px;
  padding: 10px 20px 10px 20px;
  background-color: #2e4ead;
  font-weight: 700;
}

.insert button:hover{
  background-color: #2e4ead;
  font-weight: 700;
  opacity: 0.85;
}

.insert a button  {
  color: white;
}

.insert a button:active {
  color: white;
}

.insert a button:hover {
  text-decoration: none;
  color: white;
}
