#grid{
	display:grid;
	grid-template-areas:
	  "title title title title title"
		"header header header header header"
		"main main main main main"
		"footer footer footer footer footer";
}

.des1 {
	text-align: center;
}

.des2 {
	margin-left: 20px;
	margin-right: 50px;
	padding-right: 20px;
	text-align: justify;
}

a1{
  color: #fff;
  text-decoration: none;
  font: 30px 'PT Sans', sans-serif;
}

a2{
  color: #fff;
  text-decoration: none;
  font: 15px 'PT Sans', sans-serif;
}

h1 {
		text-align: center;
		font: 40px 'PT Sans', sans-serif;
		font-weight: bold;
		border-radius: 5px;

}

#footer {
 	grid-area: footer;
 	text-align:center;
 	background-color: black;
 	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

.footer {
	text-align: center;
}

.about-container{
		width:auto;
		height:auto;
		display: block;
		text-align: center;
		border: 0.1px solid black;
		font-size: 25px;
}

.about-cotainer img{
	width: auto;
	height: 798px;
	float: left;
	}

.about-container a{
	text-decoration: none;
	background-color: FloralWhite;
	color: black;
	display: inline-block;
	font-size: 15px;
}

.about-container a:hover{
	background-color: #F0FFFF;
}

.aboutUs {
	width:100%;
	height:auto;
	font-size: 15px;
	margin: 10px;
	background-color: #F0FFFF;

}

#footer .column {
	float: left;
	width:30%;
	padding: 10px;
	height:auto;
	margin: 10px 20px;
}

#footer .column a {
float: none;
color: silver;
padding:0px;
text-decoration: none;
text-align: center;
font-size:17px;
}

#footer .column a:hover {
color: white;
}

#footer .row:after {
content:"";
display: table;
clear: both;
}
