#grid{
	display:grid;
	grid-template-areas:
	  "title title title title title"
		"header header header header header"
		"main main main main main"
		"footer footer footer footer footer";
}

body{
	background-image: url('img/Ferry.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a1{
  color: #fff;
  text-decoration: none;
  font: 30px 'PT Sans', sans-serif;
}

a2{
  color: #fff;
  text-decoration: none;
  font: 15px 'PT Sans', sans-serif;
}

table, th, td{
border: 0.1px solid black;
width:45%;
text-align:left;
}

th,td{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

th{
	text-align: center;
}

table.center{
margin-left: auto;
margin-right: auto;
}

table img{
width:350px;
height:350px;
}

#main {
	 grid-area: main;
	 position: relative;
}

#footer {
 	grid-area: footer;
 	text-align:center;
 	background-color: black;
 	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

.footer {
	text-align: center;
}

#footer .column{
	float: left;
	width:30%;
	padding: 10px;
	height:auto;
	}

#footer .column a{
float: none;
color: silver;
padding:0px;
text-decoration: none;
text-align: center;
font-size:17px;
}

#footer .column a:hover{
color: white;
}

#footer .row:after{
content:"";
display: table;
clear: both;
}
