@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Righteous&family=Roboto&display=swap');

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

tr:hover {background-color:whitesmoke;}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(".jpg");
    background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-size: cover;
}

footer{
  text-align: center;
  padding: 1px;
  background-color: black;
  color: white;

}
#container{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows:repeat(20,auto);
    grid-gap: 2px;

}

#zero_box{
    color: white;
    background-color: black;
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Righteous', cursive;
	  letter-spacing: 5px;

}

#first_box{
    color: white;
    background-color: rgb(16, 123, 140);
    grid-column: 2/7;
    grid-row: 2/3;
    text-align: center;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
	  letter-spacing: 5px;

}



.second_box{
    color: white;
    background-color: rgb(134, 198, 201);
    grid-column: 2/7;
    grid-row: 4/5;
    text-align: center;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    display: flex;
    
    justify-content: center;
}

.second_box > div {
    background-color: #f1f1f1;
    color: black;
    border-radius: 15px;
    width: 75%;
    margin: 10px;
    text-align: center;
    line-height: 75px;

}

.third_box{
    color: white;
    background-color: rgb(134, 198, 201);
    grid-column: 2/7;
    grid-row: 5/6;
    text-align: center;
    border-radius: 15px;
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.third_box > div {
    background-color: #f1f1f1;
    color: black;
    border-radius: 15px;
    width: 75%;
    margin: 10px;
    text-align: center;
    line-height: 75px;

}

.fourth_box{
  color: white;
  background-color: rgb(134, 198, 201);
  grid-column: 2/7;
  grid-row: 6/7;
  text-align: center;
  border-radius: 15px;
  font-family: 'Righteous', cursive;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.fourth_box > div {
  background-color: #f1f1f1;
  color: black;
  border-radius: 15px;
  width: 75%;
  margin: 10px;
  text-align: center;
  line-height: 75px;

}
.fifth_box{
  color: white;
  background-color: rgb(134, 198, 201);
  grid-column: 2/7;
  grid-row: 6/7;
  text-align: center;
  border-radius: 15px;
  font-family: 'Righteous', cursive;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.fifth_box > div {
  background-color: #f1f1f1;
  color: black;
  border-radius: 15px;
  width: 75%;
  margin: 10px;
  text-align: center;
  line-height: 75px;

}




button{
    display: inline-block;
    border-radius: 4px;
    background-color: #d52b2b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
