
        #zero_box{
            color: white;
            background-color: black;
            text-align: center;
            font-family: 'Righteous', cursive;
            letter-spacing: 5px;
    
            
            }
            
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Righteous&family=Roboto&display=swap');

            #grid{
                display:grid;
                grid-template-areas:
                "title title title title title"
                    "header header header header header"
                    "main main main main main"
                    "footer footer footer footer footer";
            }

            #header {
                grid-area: header;
                background:  #322a2a;
                text-align: center;
            }

            #header a{
                text-decoration:none;
}