@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
  background: url("airplane.jpg");
}

.wrapper {
    margin: 10px;
}

.wrapper .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
}

.wrapper .top_navbar .bars {
    width: 70px;
    height: 100%;
    background: #2e4ead;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .bars div {
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_bar {
   width: calc(100% - 70px);
   background: #e6eff2;
   height: 100%;
   border-top-right-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   opacity: 0.85;
}

.wrapper .top_navbar .top_bar .company_title {
    color: #2e4ead;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Righteous', cursive;
}

.wrapper .top_navbar .top_bar .system_user {
    color: #2e4ead;
    font-size: 20px;
    font-weight: 580;
    letter-spacing: 2px;
    font-family: 'Righteous', cursive;
}

.wrapper .top_navbar .top_bar a{
    display: block;
    margin: 0 10px;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #2e4ead;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Righteous', cursive;
}

.wrapper .top_navbar .top_bar a i{
    border: 1px solid #2e4ead;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 0 5px;
    color: #2e4ead;
    line-height: 35px;
}

.wrapper .top_navbar .top_bar a:hover i{
    background: #4360b5;
    color: #fff;
}

.wrapper .side_bar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: #2e4ead;
    width: 200px;
    min-height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
}

.wrapper .side_bar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .side_bar ul li a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .side_bar ul li a:hover,
.wrapper .side_bar ul li a.active {
    background: #4360b5;
    color: #fff;
}

.wrapper .side_bar ul li a:hover:before,
.wrapper .side_bar ul li a.active:before {
    display: block;
}

.wrapper .side_bar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .side_bar ul li a span.task {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.wrapper .main {
    width: calc(100% - 230px);
    margin-top: 70px;
    margin-left: 210px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
    min-height: 625px;
    position: fixed;
    background: #e6eff2;
    color: #2e4ead;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
}

.main .center {
  padding-top: 150px;
  height: 585px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .manage_info {
  height: 585px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  margin: 0 auto;
  margin-top: 10px;
}

.manage_table {
  height: 500px;
  width: inherit;
  overflow: scroll;
}


.manage_table_two{
  height: 500px;
  margin-bottom: 0px;
  width: inherit;
  overflow: scroll;
}

.main .footer {
   text-align: center;
   align-items: center;
   justify-content: center;
   font-family: 'Open Sans', sans-serif;
   transition: all 0.3s ease;
   color: #2e4ead;
}

.search_footer {
   position: relative;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-family: 'Open Sans', sans-serif;
   transition: all 0.3s ease;
   color: #2e4ead;
}

.username {
  color: rgb(55, 61, 128);
  font-weight: 450;
  font-family: 'Righteous', cursive;
  font-style: oblique;
}

.wrapper.collapse .side_bar {
    width: 70px;
}

.wrapper.collapse .side_bar ul li a{
    text-align: center;
}

.wrapper.collapse .side_bar ul li a span.icon{
    margin: 0;
}

.wrapper.collapse .side_bar ul li a span.task{
    display: none;
}

.wrapper.collapse .main {
    width: calc(100% - 100px);
    margin-left: 80px;
}

.logout {
    margin-top: 370px;
}

table, td, th {
    border: 1px solid #2e4ead;
    font-family: 'Open Sans', sans-serif;
}

th, td {
    padding: 10px;
}

td a {
  text-decoration: none;
  color: blue;
}

td a:hover {
  text-decoration: underline;
}

.manage_info h1 {
  letter-spacing: 1px;
}

div.info_form {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  text-align: left;
  font-weight: bold;
}

.update_form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.update_form input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0080ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #3366ff;
}

.profile_info {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile_update {
  width: 100%;
  background-color: #2e4ead;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.insert button{
  margin: 15px;
  padding: 10px 20px 10px 20px;
  background-color: #2e4ead;
  font-weight: 700;
}

.insert button:hover{
  background-color: #2e4ead;
  font-weight: 700;
  opacity: 0.85;
}

.insert a button  {
  color: white;
}

a button  {
  color: white;
}

.insert a button:active {
  color: white;
}

a button:active {
  color: white;
}

.insert a button:hover {
  text-decoration: none;
  color: white;
}

a button:hover {
  text-decoration: none;
  color: white;
}

input[type=text]:read-only{
  background-color: #E8E8E8;
}

.update_form textarea{
  width: 100%;
	height: 150px;
	border: 3px solid #cccccc;
	padding: 10px;
  margin: 10px 0;
}
